{% extends "base_front.html" %}

{% block content %}
<div class="form-container">
    <h1 class="form-title">Email envoyé </h1>

    <p class="text-muted mb-4" style="text-align:center;">
        Si un compte correspond à cette adresse email, un message contenant un lien
        de réinitialisation vient d’être envoyé.
        <br><br>
        Pensez à vérifier votre dossier <strong>Spam / Courrier indésirable</strong>.
    </p>

    <a href="{% url 'login' %}" class="btn btn-custom">
        Retour à la connexion
    </a>
</div>
{% endblock %}
